APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_HTTP=http://

VEREIN_DOMAIN=Domain
VEREIN_NAME=Vereinsname
VEREIN_STRASSE=Strasse
VEREIN_PLZ=PLZ
VEREIN_ORT=Ort
VEREIN_TELEFON=Telefon
VEREIN_FAX=Fax
VEREIN_EMAIL=email@email.de
VEREIN_EINTRAGUNGSORT=Eintagungsort
VEREIN_VRNUMMER=Vereinsnummer

VEREIN_HP_VERTRETEN=Vertreter_Webvertreter
VEREIN_HP_VERTRETEMAIL=email_Webvertreter
VEREIN_HP_VERTRETESTRASSE=Strasse_Webvertreter
VEREIN_HP_VERTRETEPLZ=PLZ_Webvertreter
VEREIN_HP_VERTRETEORT=Ort_Webvertreter
VEREIN_HP_VERTRETETELEFON=Telefon_Webvertreter

VEREIN_HP_TECH_VERTRETE=Vertreter_Web_Technik_Vertreter
VEREIN_HP_TECH_VERTRETEMAIL=email_Web_Technik_Vertreter
VEREIN_HP_TECH_VERTRETESTRASSE=Strasse_Web_Technik_Vertreter
VEREIN_HP_TECH_VERTRETEPLZ=PLZ_Web_Technik_Vertreter
VEREIN_HP_TECH_VERTRETEORT=Ort_Web_Technik_Vertreter
VEREIN_HP_TECH_VERTRETETELEFON=Telefon_Web_Technik_Vertreter

VEREIN_KEYWORDS=Meta_Keywords
VEREIN_DESCRIPTION=Meta_Description
VEREIN_SLOGEN=Slogen
VEREIN_CANONICAL=https://www.domain.de
MENUE_ABTEILUNG=Abteilungen

#ja oder nein
VEREIN_CHATBOT=ja
VEREIN_MAP=ja
APP_SOZIALMEDINANZEIGE=ja

APP_SOZIAL_TWITTER=
APP_SOZIAL_FACEBOOK=https://www.facebook.com/KELDatteln
APP_SOZIAL_INSTEGRAMM=
APP_SOZIAL_LINKEDIN=
APP_SOZIAL_SKYP=

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=database
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
