/node_modules
/public/hot
/public/storage/**/*_*.jpg
/public/asset/img/portfolio
/public/asset/img/team
/public/asset/img/testimonials
/storage/*.key
/storage/botman/*.json
/vendor
/database/DB_Projekt_KEL
/database/seeders_KEL
/resources/views/vendor/livewire
.env
.env.backup
.phpunit.result.cache
.vs
.idea
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
