/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/database/DB_Projekt_KEL/DB_Projekt_KEL_20210213/*.sql
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
