/node_modules
/public/*_*.*
/public/storage/**/*_*.*
/storage/app/public/*/*_*.*
/public/daten/
/public/asset/img/portfolio
/public/asset/img/team
/public/asset/img/testimonials
/public/apple-touch-icon.png
/public/favicon.ico
/vendor
/database/DB_Projekt_KEL
/database/seeders_KEL
/resources/views/vendor/livewire
/storage/*.key
/storage/botman/*.json
.env
.env.backup
.phpunit.result.cache
.vs
.idea
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
google*.html

