/*--------------------------------------------------------------
# Anfahrt
--------------------------------------------------------------*/
  .anfahrt {
  padding-bottom: 480px;
}

  .anfahrt   {
  color: #444444;
  background: #fff;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
}

  .anfahrt   i {
  font-size: 32px;
  color: #0062cc;
  /*color: #67b0d1; */
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #f0f7fa;
}

  .anfahrt   h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

  .anfahrt   p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

  .anfahrt  {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  background: #fff;
}

  .anfahrt    {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

  .anfahrt  {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

  .anfahrt  br + br {
  margin-top: 25px;
}

  .anfahrt   {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

  .anfahrt   {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

  .anfahrt {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

  .anfahrt  input, .anfahrt  textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

  .anfahrt  input:focus, .anfahrt  textarea:focus {
  background-color: #0062cc;
  /*background-color: #67b0d1; */
}

  .anfahrt  input {
  padding: 20px 15px;
}

  .anfahrt  textarea {
  padding: 12px 15px;
}

  .anfahrt  button[type="submit"] {
  background: #0062cc;
  /*background: #67b0d1; */
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

  .anfahrt  button[type="submit"]:hover {
  background: #8ec4dd;
}


/*--------------------------------------------------------------
# termine
* Template Name: Vesperr - v2.2.0
todo: Blaue Farbe anpassen
--------------------------------------------------------------*/
.termine .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.termine .icon-box::before {
  content: '';
  position: absolute;
  background: #e1f0fa;
  right: -60px;
  top: -40px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  transition: all 0.3s;
  z-index: -1;
}

.termine .icon-box:hover::before {
  background: #3498db;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}

.termine .icon {
  margin: 0 auto 20px auto;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #3498db;
  transition: all 0.3s ease-in-out;
}

.termine .icon i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
}

.termine .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.termine .title a {
  color: #111;
}

.termine .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.termine .icon-box:hover .title a, .termine .icon-box:hover .description {
  color: #fff;
}

.termine .icon-box:hover .icon {
  background: #fff;
}

.termine .icon-box:hover .icon i {
  color: #3498db;
}

/*--------------------------------------------------------------
# More termine
* Template Name: Vesperr - v2.2.0
todo: Blaue Farbe anpassen
--------------------------------------------------------------*/
.more-termine {
  padding-top: 20px;
}

.more-termine .card {
  border: 0;
  padding: 160px 20px 20px 20px;
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.more-termine .card-body {
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  transition: ease-in-out 0.4s;
  border-radius: 5px;
}

.more-termine .card-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.more-termine .card-title a {
  color: #222222;
}

.more-termine .card-text {
  color: #5e5e5e;
}

.more-termine .read-more a {
  color: #777777;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.4s;
}

.more-termine .read-more a:hover {
  text-decoration: underline;
}

.more-termine .card:hover .card-body {
  background: #3498db;
}

.more-termine .card:hover .read-more a, .more-termine .card:hover .card-title, .more-termine .card:hover .card-title a, .more-termine .card:hover .card-text {
  color: #fff;
}
